<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${book.toString()}"></p>
<p th:text="${book.getId()}"></p>
<button>
    <a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
</button>
<br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete book"/>
</form>
<hr />
<form th:if="${person==null}" th:action="@{/books/setOwner/{id}(id=${book.getId()})}" th:method="PATCH" th:object="${owner}">
    <label>
        <select name="ownerId" th:field="*{id}">
            <option th:each="p : ${people}" th:value="${p.getId()}" th:text="${p.getName() + p.getSurname()}"></option>
        </select>

        <input type="submit" value="Add owner">
    </label>
</form>
<div th:if="${person!=null}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:style="${expired}? 'color:red'" th:text="${'this book is taken by ' + person.toString()}"></a>
    <form th:action="@{/books/deleteOwner/{id}(id=${book.getId()})}" th:method="PATCH">
        <input value="delete owner" type="submit" />
    </form>
</div>
</body>
</html>